html {
  height: 100vh;
  max-height: 90%;
  width: 100vw;
  background-color: #0e0b16;

}

body {
  color: #e7dfdd;
  background-color: #0e0b16;
}

.blurb {
  margin: 18px 0;
  border-bottom: 2px solid #4717f6;
}

label {
  font-size: 16px;
  font-weight: 500;
  display: block;
}

input {
  width: 90%;
  color: #555;
  padding: 0.8em;
  border: none;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
  padding: 0 20px;
}

button {
  margin: 10px 0;
}

p {
  margin: 0 0 20px;
}

.error input, .error select {
    border: 2px #a239ca solid;
}

input:focus {
  outline: none;
}


label {
  display: inline-block;
  float: left;
  padding: 0 1em;
  width: 100%;
  font-size: 15px;
  margin-left: -20px;
  margin-bottom: 10px;
  /*border-bottom: 2px #a239ca solid;*/
}


li {
  list-style-type: none
}

ul {
  padding: 0;
  margin: 0;
  margin-left: -6px;
  color: #a239ca;
  font-weight: 600;
}
