html {
  height: 100vh;
  max-height: 90%;
  width: 100vw;
  background-color: #0e0b16;
}

body {
  height: 100%;
  width: 100%;
  background: none;
}

#bg {
  position: fixed;
  top: 58px;
  left: 0;
  z-index: -1;

  /* Preserve aspect ratio */
  min-width: 100%;
  min-height: 100%;
}

input {
  width: 70%;
  color: #555;
  padding: 5px;
}

.row {
}

a {
  color: #e7dfdd;
}

a:hover {
  text-decoration: none;
  color: #cbc3c1;
}

.header {
  margin: 0;
  background-color: #0e0b16;
  border-bottom: 3px solid #4717f6;
}

.title {
  float: left;
  padding-left: 20px;
  font-size: 25px;
  margin: 15px 0;
}

.create span {
  float: right;
  font-size: 17px;
  margin: 15px;
}

.content {
  /*background-color: #0e0b16;*/
  display: table;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
  color: #e7dfdd;
  /*text-align: center;*/
}

.centered {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

}

.search-bar {
  margin: 0 auto;
}

.search-bar .row {
  width: 100%;
  margin: 10px 0;
}

.log-in {
  text-align: center;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    border-radius: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #4717f6;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #582df4;
}

.btn-primary:active, .btn-primary.active {
    background: #2b02c1;
    box-shadow: none;
}

