.content {
  text-align: center;
}

.party-name {
  color: #4717f6;
}

.open-uri {
  margin: 30px 0 15px 0;
}

input {
  width: 100%;
}

.placeholder {
  height: 50%;
  content: '';
}

.playlist {
  margin: 20px 0 10px 0;
  width: 80%;
  text-align: left;
  border: 2px solid #4717f6;
}

.title-text {
  display: inline-block;
}

.entry {
  padding: 10px;
  font-size: 15px;
}

.content {
  width: 100%;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
}

.playlist-row:nth-of-type(odd) {
  background-color: #0e0b16;
}

.playlist-row:nth-of-type(even) {
  background-color: #2d2348;
}

.email-share-button {
  border-radius: 5px;
  background-color: #566776;
  width: 60px;
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
  padding: 3px 7px;
  vertical-align: super;
  color: white;
}

.share {
  margin-right: 5px;
  display: inline-block;
}

.embed {
  height: 80px;
  margin-bottom: 10px;
}

.selected {
  background-color: #a239ca;
}

.selected:hover {
  background-color: #a239ca;
}

span {
  display: inline-block;
  margin-top: 5px;
}

#no_app {
  margin-top: 5px;
  cursor: pointer;
  cursor: hand;
}

audio {
  width: 45px;
}

.btn-xs {
  line-height: 23px;
  width: 30px;
}

@media (max-width: 600px) {
  .btn-xs {
    width: 20px;
  }
}

.modal-content {
  color: #333;
  padding: 10px 13px 13px 13px;
}

label.required {
  display: none;
}

.btn-secondary {
  padding: 10px 15px;
}

b {
  margin: 3px 0 5px 0;
}

.btn-link {
  color: #a239ca;
  padding: 0;
}

.btn-link:hover, .btn-link:active, .btn-link:focus {
  text-decoration: none;
  color: #8920B1;
  padding: 0;
}

h4 {
  margin-top: 40px;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.vertical-align-center {
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal-content {
  width: inherit;
  height: inherit;
  margin: 0 auto;
  pointer-events: all;
}

#id_min_score {
  width: 90px;
  text-align: center;
}

li:nth-of-type(2) {
  display: none;
}

li {
  list-style-type: none;
  color: #a239ca;
  font-size: 13px;
}

.required.error input#id_min_score {
  border: 2px solid #a239ca;
}

ul {
  padding: 0;
}

#modalbtn {
  padding: 10px 20px;
}
