.content {
  text-align: center;
}

.party-name {
  color: #4717f6;
}

.open-uri {
  margin: 15px 0;
}

input {
  width: 100%;
}

.placeholder {
  height: 50%;
  content: '';
}

.playlist {
  margin: 20px;
  width: 80%;
  text-align: left;
  border: 2px solid #4717f6;
}

.title-text {
  display: inline-block;
}

.entry {
  padding: 10px;
  font-size: 15px;
}

.content {
  width: 100%;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
}

.playlist-row:nth-of-type(odd) {
  background-color: #0e0b16;
}

.playlist-row:nth-of-type(even) {
  background-color: #2d2348;
}

.email-share-button {
  border-radius: 5px;
  background-color: #566776;
  width: 60px;
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
  padding: 3.5px 7px;
  vertical-align: super;
  color: white;
}

.share {
  margin-right: 5px;
  display: inline-block;
}
