.content {
  text-align: center;
}

.party-name {
  color: #4717f6;
}

.open-uri {
  margin: 15px 0;
}

input {
  width: 100%;
}

.placeholder {
  height: 50%;
  content: '';
}

.playlist {
  margin: 20px;
  width: 80%;
  text-align: left;
  border: 2px solid #4717f6;
  border-top: 1px solid #4717f6;
}

.title-text {
  display: inline-block;
}

.entry {
  border-top: 1px solid #4717f6;
  padding: 10px;
}
.content {
  width: 100%;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
}

#display_name {
  width: 60%;
}
