html {
  height: 100vh;
  max-height: 90%;
  width: 100vw;
  background-color: #0e0b16;
}

body {
  color: #4717f6;
  background-color: #0e0b16;
}

h1 {
  text-align: center;
}

a {
  text-decoration: underline;
}
