.party-name {
  color: #4717f6;
}

.content {
  text-align: center;
}

.open-uri {
  margin: 15px 0;
}

input {
  width: 100%;
}

.placeholder {
  height: 50%;
  content: '';
}

.album img {
  height: 200px;
  width: 200px;
  border: 2px solid #e7dfdd;
}

.below-album {
  margin-bottom: 10px;
}

.glyphicon {
  margin: 0 10px;
}

.glyphicon.glyphicon-arrow-left {
  margin: 0 7px 0 0;
}

audio {
  width: 100%;
  max-width: 400px;
}

.btn-primary {
  height: 30px;
  width: 30px;
}

.btn-back {
    margin: 20px 0 20px 0;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  margin-bottom: 10px;
}