extends ./layout.jade


block content
  link(href="{% static 'css/create.css' %}", rel='stylesheet')
  h1.blurb It's time to get this party started!
  form(method="POST")
    | {% csrf_token %}

    p.required
      label(for='id_party_name') Party name
      | {% if form.party_name.errors %}
      input.error#id_party_name(type='text', name='party_name', maxlength='100')
      | {% else %}
      input#id_party_name(type='text', name='party_name', maxlength='100')
      | {% endif %}
    | {{ form.party_name.errors }}

    p.required
      label(for='id_url') Custom url
      .hint
        i How others will find your party
      | {% if form.url.errors %}
      input.error#id_url(type='text', name='url', maxlength='140')
      | {% else %}
      input#id_url(type='text', name='url', maxlength='140')
      | {% endif %}
    | {{ form.url.errors }}

    p.required
      label(for='id_user_nickname') User nickname
      | {% if form.user_nickname.errors %}
      input.error#id_user_nickname(type='text', name='user_nickname', maxlength='180')
      | {% else %}
      input#id_user_nickname(type='text', name='user_nickname', maxlength='180')
      | {% endif %}
    | {{ form.user_nickname.errors }}

    p.required
      label(for='id_min_score') Min score
      .hint
        i Songs that reach this score will automatically be removed
      | {% if form.min_score.errors %}
      input.error.min-score#id_min_score(type='number', name='min_score', value='-10')
      | {% else %}
      input.min-score#id_min_score(type='number', name='min_score', value='-10')
      | {% endif %}
    | {% if form.min_score.errors %}
    ul.errorlist
      li {{ form.min_score.errors.0 }}
    | {% endif %}

    p.required
      label(for='id_uri') Load songs from any of your playlists
      select#id_uri(name='uri')
        | {% for playlist in form.uri.field.choices %}
        option(value="{{playlist.0}}") {{playlist.1}}
        | {% endfor %}

    button.btn.btn-primary(type='submit') Create your party
