doctype html
| {% load staticfiles %}

html(lang="en")
  head
    title="UpNext Homepage"
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
    link(rel="stylesheet", href="{% static 'css/index.css' %}")

  body
    .row.header
      .col-sm-4
        h1.title UpNext
      .col-sm-8
        .create
          span
            a(href="") + Create a party
    .container
      if 1
        h1 To get started, connect to Spotify.
      .row
        if 0
          .col-sm-12
              .search-bar
                input.form-control(type="text", placeholder="Find your party!")
                span.input-group-btn
                  btn.btn-default(type="button") Go!
        if 1
          .col-sm-12
            .log-in
              a.btn.btn-primary(href='/login') Log in button

