doctype html
html(lang="en")
  head
    title="UpNext Homepage"
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", rel="stylesheet")

  body
    .main-container
      span Hello
