extends ./layout.jade


block content
  link(rel='stylesheet', href="{% static 'css/party_detail.css' %}")
  .title-text
    h2 You are looking at {{ party.party_name }} by {{ party.creator }}.
    span Created on {{ party.created_at }}

    .host
      h4 Currently hosted by {{ party.host_display }}. Not the right person? The new host should click this button:
      form(method="POST")
        | {% csrf_token %}
        input#display_name(type='text', name='display_name', placeholder='What do you go by?')
        br
        button.btn.btn-primary(name='new_host', type='submit') I'm in charge now!

    h2 Got a song in mind? Look it up.
    .row
      .col-sm-12
        .search-bar
          form(method="GET")
            | {% csrf_token %}
            input#track_query(type='text', name='track_query', placeholder='Press Enter to search')
            .hidden
              button.btn.btn-primary(type='submit') Search
  .row

    .col-xs-12.currently-playing
      | {% if current %}
      span {{ current.track_title }} is currently playing.
      | {% else %}
      span Nothing is playing. :(
      | {% endif %}

    | {% if tracks %}

    .col-xs-12.col-centered.playlist
      .row
        .col-xs-1.entry.default
          span Vote
        .col-xs-1.entry.default
          span Score
        .col-xs-5.entry.default
          span Song
        .col-xs-5.entry.default
          span Artist

      | {% for track in tracks %}
      .row
        .col-xs-1.entry.votes
          form(method="POST")
            | {% csrf_token %}
            button.btn-xs(name='track_up', value='{{ track }}', type='submit', class='glyphicon glyphicon-arrow-up')

          form(method="POST")
            | {% csrf_token %}
            button.btn-xs(name='track_down', value='{{ track }}', type='submit', class='glyphicon glyphicon-arrow-down')
        .col-xs-1.entry.score
          span {{ track.score }}&nbsp;
          | {% if track.score == 1 or track.score == -1 %}
          span.hidden-sm point
          | {% else %}
          span.hidden-sm points
          | {% endif %}
        .col-xs-5.entry.track-name
          span {{ track.track_title }}

        .col-xs-5.entry.track-artist
          span {{ track.artist }}

      | {% endfor %}
    | {% else %}
    h3 No songs added yet!

    | {% endif %}
  .placeholder
  .row
    .col-sm-12
      .open-uri
        a.btn.btn-primary(href="{{ party.uri }}") Play in Spotify!

  .iframe
    iframe(src='{{ party.embed }}' width='300' height='100' frameborder='0' allowtransparency='true')

