extends ./layout.jade


block content
  link(rel='stylesheet', href="{% static 'css/see_all.css' %}")
  h1 All Parties
  ul
    | {% for party in parties.all %}
    li {{ party.party_name }}, by {{ party.creator }}
    | {% endfor %}
